@import "./variable";

.tab-bar-wrap {
  position: fixed;
  z-index: 5;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;

  &.m-tabBar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 6;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: #fff;
    border-top: 1px solid #d9d9d9;
  }
}
.nav-item {
  flex: 1;
  text-align: center;
  &>.text {
    display: block;
    margin-top: .09333rem;
    font-size: 24px;
    color: #666;
    line-height: 1;
  }
  .nav-item-icon {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    background-image: url("../assets/icon-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    &.nav-icon-server {
      background-image: url("../assets/icon-server.png");
    }
    &.nav-icon-log {
      background-image: url("../assets/icon-log.png");
    }
    &.nav-icon-message {
      background-image: url("../assets/icon-message.png");
    }
    &.nav-icon-account {
      background-image: url("../assets/icon-account.png");
    }
  }
  &.router-link-exact-active {
    color: @theme;
  }
}
.nav-item.router-link-active {
  &>.text {
    color: @theme;
  }
}

// gap
.gap{
  height: 24px;
  background-color: @gap;
}

// icon
.icon{
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-right: 16px;
}
.icon-wait{
  background: url("../assets/icon-wait.png") no-repeat;
  margin-right: 16px;
  background-size: cover;
}
.icon-agree, .icon-refund, .icon-reject, .icon-supplement{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.icon-agree{
  background: url("../assets/icon-agree.png") no-repeat;
  background-size: cover;
}
.icon-refund{
  background: url("../assets/icon-refund.png") no-repeat;
  background-size: cover;
}
.icon-reject{
  background: url("../assets/icon-reject.png") no-repeat;
  background-size: cover;
}
.icon-supplement{
  background: url("../assets/icon-supplement.png") no-repeat;
  background-size: cover;
}
.icon-service-hall{
  background: url("../assets/icon-service-hall.png") no-repeat;
  background-size: cover;
}
.icon-investigate{
  background: url("../assets/icon-investigate.png") no-repeat;
  background-size: cover;
}
// color
.red{
  color: @warning;
}
.blue{
  color: @theme;
}
